[Unit]
Description=Flexible I/O Tester as service
After=network.target
Documentation=man:fio(1)

[Service]
Type=simple
ExecStart=/usr/bin/fio --server
